os: osx
jobs:
  include:
    # ...
    - name: Run Validations (SwiftLint)
      osx_image: xcode12.2
      install: brew install swiftlint
      script: swiftlint autocorrect && swiftlint
      
    - name: Buid and Run the Tests
      osx_image: xcode12.2
      language: swift
      xcode_project: FilmFast.xcodeproj
      xcode_scheme: CI
      xcode_destination: platform=iOS Simulator,OS=14.2,name=iPhone 12 Pro Max
      xcode_destination: platform=iOS Simulator,OS=14.2,name=iPhone 8
